PORT=5000
JWT_SECRET=inserisci_qui_una_chiave_sicura
# MySQL Database
DB_HOST=192.168.1.200
DB_USER=ies 
DB_PASS=Qazwsx12.
DB_NAME=

# MS Access Databases
# Azienda I&S (default)
ACCESS_PATH_IS=C:\TUTTEBASIDATIATTIVE\I&S-BASEDATI.accdb
ACCESS_PASSWORD_IS=inserisci_password_se_presente

# Azienda CIESSE
ACCESS_PATH_CIESSE=C:\TUTTEBASIDATIATTIVE\CIESSE-BASEDATI.accdb
ACCESS_PASSWORD_CIESSE=inserisci_password_se_presente
